# Python tips and tricks

## Assign Multiple Variables on One Line

In [ ]:
x, y = 5, 10
print(x, y)

5 10

## Banker's Rounding - half towards even

In [ ]:
print(round(13.5)) #down to 10 This always rounds the value to an even
print(round(11.5)) #up to 12

14
12

## Underscores in numbers

In [ ]:
my_bank_account = 999_999_999
print(my_bank_account)
print(f"{my_bank_account : ,}")

999999999
 999,999,999

## Open a web browser

In [ ]:
import webbrowser

#webbrowser.open('https://www.google.com') #commented out because it's annoying

## Concatenation without +

In [ ]:
message = "Hello this " "is a message"
print(message)

Hello this is a message

## Split string on multiple lines

In [ ]:
print("This is a really long message that I split up over "
"multiple lines for convenience sake. "
"The actual output is the same")

This is a really long message that I split up over multiple lines for convenience sake. The actual output is the same

## Multiline string

In [ ]:
# \ to ignore newline. No spaces after!
print('''This is a really long message that I split up over \
multiple lines for convenience sake.
The output is affected.''')

This is a really long message that I split up over multiple lines for convenience sake.
The output is affected.

## Multiline comment

In [ ]:
print(5)
"""
print('ignored!')
print('pretty cool huh')
"""
print(10)

5
10

## Single line if

In [ ]:
if 'You' in 'YouTube': print('YouTube'.index('You')) #can throw error

0

## Get index with find

In [ ]:
'YouTube'.find('flowers')

-1

## Using id to get identity -- guarenteed to be unique for each object

In [ ]:
data = {"Caleb": 5}
print(id(data))

140479393791744

## Aliases

An alias is another name for something
We use an alias if we want two variables pointing to the same data
or if we want functions to be able to modify arguments passed it

In [ ]:
data1 = {"Caleb": 5}
data2 = data1
data2['Erin'] = 13

print(id(data1))
print(id(data2))
print(data1)

140479393791904
140479393791904
{'Caleb': 5, 'Erin': 13}

## Primitive types are immutable

In [ ]:
data1 = 10
data2 = data1
data2 = 1 #replaced data2

print(id(data1))
print(id(data2))
print(data2)

4311143040
4311142752
1

## replace list vs replace list content

In [ ]:
def replace_list(data):
    data = ['new']
    
def replace_list_content(data):
    data[:] = ['new']
    
languages = ['C++', 'Go', 'Python']

print(languages)
replace_list(languages)
print(languages)
replace_list_content(languages)
print(languages)

['C++', 'Go', 'Python']
['C++', 'Go', 'Python']
['new']

## Copy a list with slicing

In [ ]:
languages = ['C++', 'Go', 'Python']
learning = languages[:]

print(id(languages), id(learning))

140479393918480 140479393910944

## Copy a list with method

In [ ]:
languages = ['C++', 'Go', 'Python']
learning = languages.copy()

print(id(languages), id(learning))

140479393912224 140479393916880

## Using deepcopy

shallow copy copies each element's address to the new location
This means that if one of the elements is an object itself, the address it points to copied.
Now we have two different lists that point to the same object 
Deepcopy goes further by copying any of the objects as well, not just the pointer to them.

In [ ]:
from copy import deepcopy

tech = ['C++', 'Go', 'Python', ['html', 'css', 'pics']]
learning = tech.copy()
print(id(tech) == id(learning))
print(id(tech[-1]) == id(learning[-1])) #true with shallow copy

learning = deepcopy(tech)
print(id(tech) == id(learning))
print(id(tech[-1]) == id(learning[-1]))

False
True
False
False

## Concatenate lists

In [ ]:
beginning = [1, 2, 3]
end = [4, 5, 6]
print(beginning + end)

[1, 2, 3, 4, 5, 6]

## Comparing not vs is None

not will check for implicit false values
which includes empty lists, zero, and False

In [ ]:
data1 = []
data2 = None
print(not data1)
print(data1 is None)

print(not data2) # None evaluates to false
print(data2 is None)

True
False
True
True

## Check empty list

In [ ]:
data = []

#often seen:
#print(len(data) == 0): #not the Python way. Throws if None

print(not data) #empty, None, or zero 

#You can also check these things:
print(data is not None) #anything but None
print(data is None) #None only

True
True
False

## Check if exists

In [ ]:
age = 16

print('age' in locals(), 'age' in globals())
del age
print('age' in locals(), 'age' in globals())

age = None
print('age' in locals(), 'age' in globals())

True True
False False
True True

## String formatting for easy string making

Using commas to separate variables within print is nice and convenient, but what if you want a string variable?
Using commas actually creates a tuple (not what we want).
The common solution of using string concatentation is ugly. 
Instead, use f strings!

In [ ]:
message = name, age
print(message) #makes a tuple

print("My name is " + str(name) + ". I am " + str(age) + " years old.")

print(f"My name is {name}. I am {age} years old.") #implict string conversion

('Caleb', 25)
My name is Caleb. I am 25 years old.
My name is Caleb. I am 25 years old.

## Return multiple values and assign to multiple variables

In [ ]:
def get_position():
    #get from user or something
    return 5, 10, 15, 20

print(get_position()) 
x, y, z, a = get_position()
print(x, y, z, a)

(5, 10, 15, 20)
5 10 15 20

## Ternary conditional operator

In [ ]:
#You'll typically see:
reputation = 30
if reputation > 25:
    name = "admin"
else:
    name = "visitor"
print(name)

reputation = 20
name = "admin" if reputation > 25 else "visitor"
print(name)

admin
visitor

## Else can be used with loop

Option 1 is yes or no
option 2 uses a flag variable. can also remove break and continue iteration
option 3 else will execute if no break is found (in other words--No cats)

In [ ]:
pets = ['dog', 'dog', 'cat', 'bird', 'chicken', 'dog']

if 'cat' in pets: print("eww a cat") #option 1
    
cat_found = False    
for pet in pets:
    print(pet, end=" ") #do something with each element if needed
    if pet == 'cat':
        cat_found = True #could count elements
        break 

if cat_found: print("eww a cat") #option 2
    

pets.remove('cat')
for pet in pets:
    print(pet, end=" ")
    if pet == 'cat':
        break
        
else: #no break -- option 3
    print("No cat found")

eww a cat
dog dog cat eww a cat
dog dog bird chicken dog No cat found

## Use range to generate lists

type of range is list in python 2. Make sure you're running with Python 3. 
For me, the python command defaults to Python2 so I use the python3 command

In [ ]:
for i in range(10):
    print(i, end=" ")
print(type(range(10)))

print(list(range(0, 100, 3)))

0 1 2 3 4 5 6 7 8 9 <class 'range'>
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## Unpack operator

Given a list you can split it into individual values

In [ ]:
def move_position(x, y, z):
    print(f'moving character to {x} {y} {z}')
    
pos = [5, 10, 15]
move_position(*pos)

moving character to 5 10 15

## How to do nothing in Python with pass
Python doesn't have { }, so this is how we do the equiv in Python

In [ ]:
def move_position(x, y, z):
    pass

## Using in instead of complex conditional - Check against list of values

In [ ]:
weather = "rainy"

if weather in ['rainy', 'cold', 'snowy']:
    print("cancelled")

cancelled

## complex conditional - Evaluate against any conditon

In [ ]:
age = 21
reputation = 20

conditions = [ 
    age >= 21,
    reputation > 25
]
    
if any(conditions):
    print("You're an admin")

You're an admin

## complex conditional - Evaluate against all conditions

In [ ]:
age = 21
reputation = 20

conditions = [ 
    age >= 21,
    reputation > 25
]
    
if all(conditions):
    print("You're an admin")
else:
    print("You're a standard user")

You're a standard user

## Split from string to multiple variables

In [ ]:
full_name = "Caleb Curry"
first, last = full_name.split() #returns list but can assign to individual variables
print(first, last)

data = "1 2 3"
data = [int(d) for d in data.split()]
print(data)

#This is most useful to get multiple inputs separated by spaces:
#first, last = input().split()

Caleb Curry
[1, 2, 3]

## Join data

In [ ]:
names = ["Caleb", "Curry"]
full_name = " ".join(names)
print(full_name)

Caleb Curry

## Removing certain elements from a list

In [ ]:
pets = ['dog', 'dog', 'cat', 'bird', 'cat','chicken', 'cat', 'dog']

clean_pets = [pet for pet in pets if pet not in ['cat','chicken']] 
# in case there is only 1 if, it occurs after for in list comprehension
#there is both if and else then it occurs before for loop in list comprehension
print(clean_pets)

['dog', 'dog', 'bird', 'dog']

## Iterate backwards with reversed

In [ ]:
pets = ['dog', 'dog', 'cat', 'bird', 'cat','chicken', 'cat', 'dog']
for pet in reversed(pets):
    print(pet, end=" ")

dog cat chicken cat bird cat dog dog

## No do-while loop in python

In [ ]:
while True:
    print("""Choose an option:
1. play game
2. load game
3. high scores
4. quit""")
    #if input() == "4":
    if True: 
        break

Choose an option:
1. play game
2. load game
3. high scores
4. quit

## Assigning a function to a variable  - just donâ€™t use ()

In [ ]:
def done():
    print("done")
   
def do_something(callback):
    print("Doing things....")
    
do_something(done)

Doing things....

## Wait with time.sleep

In [ ]:
import time
def done():
    print("done")
   
def do_something(callback):
    time.sleep(10)
    print("Doing things....")
    
do_something(done)

Doing things....

## Get index with for loop

In [ ]:
pets = ['dog', 'dog', 'cat', 'bird', 'cat','chicken', 'cat', 'dog']

for i, pet in enumerate(pets, start=1):
    print(i, pet)

1 dog
2 dog
3 cat
4 bird
5 cat
6 chicken
7 cat
8 dog

## Flatten a list with nested list comprehension

In [ ]:
pairs = [[5, 10],[15, 20],[25, 30, 35, 40]]

flat = []
for pair in pairs:
    for item in pair:
        flat.append(item)

print(flat)

flat_list = [item for pair in pairs for item in pair]
print(flat_list)
#notice important sections: 
#for pair in pairs
#for item in pair

[5, 10, 15, 20, 25, 30, 35, 40]
[5, 10, 15, 20, 25, 30, 35, 40]

## Wrapping a Primitive to change within function
You can also use a list for simplicity

In [ ]:
class Container:
    def __init__(self, data):
        self.data = data
    
def calculate(input):
    input.data **= 5
    
container = Container(5)
calculate(container)
print(container.data)

3125

## Compare identity with is

In [ ]:
c1 = Container(5)
c2 = Container(5)
print(id(c1), id(c2))
print(id(c1) == id(c2)) 

print(c1 is c2) #better code

140479253959632 140479253959504
False
False

## Add a method dynamically

In [ ]:
def __eq__(self, other):
    return self.data == other.data

Container.__eq__ = __eq__

print(Container.__eq__)

<function __eq__ at 0x7fc3e0074680>

## Compare by Value

In [ ]:
c1 = Container(5)
c2 = Container(5)

print(c1 == c2) #same values
print(c1 is c2) #different objects

True
False

## Class parenthesis optional but not function parenthesis
The () are optional for classes. Only needed if you're inheriting. However, function () are always required when defining.

In [ ]:
class Container():
    def __init__(self, data):
        self.data = data

class Container: 
    def __init__(self, data):
        self.data = data

#def function:
#    print("oopsies")

## Get current date and time

In [ ]:
from datetime import datetime
now = datetime.now()
print(now)
print(now.day, now.month, now.year, now.hour, now.minute, now.second)

2022-12-23 15:54:03.726737
23 12 2022 15 54 3

## Countdown
You can do this in a loop if you need.

In [ ]:
from datetime import datetime
now = datetime.now()
end = datetime(2020, 12, 1)
print(end-now)

-753 days, 12:05:29.309159

## Elapsed time

In [ ]:
from datetime import datetime
start = datetime.now()

for i in range(100_000_000): #to pass time
    pass

end = datetime.now()

print(type(end-start))
elapsed = end-start
print(elapsed)
print(elapsed.seconds, elapsed.microseconds)

<class 'datetime.timedelta'>
0:00:02.864680
2 864680

## Parentheses for operations with object members
operator precedence - dot operator comes ahead of +/- operator.

In [ ]:
now = datetime.now()
then = datetime.now()

elapsed = (then-now).microseconds
print(elapsed)

try:
    print(then-now.microseconds)
except:
    print("Wrong")

16
Wrong

## Runtime error vs syntax error
Syntax errors are impossible to be correct and will prevent execution  
Runtime errors deal with incorrect data found during runtime

In [ ]:
#def function:
#    print('wrong syntax')
    
try:
    print(then-now.microseconds)
except:
    print("Wrong")

Wrong

## Get a random number

In [ ]:
from random import randint
print(randint(0, 12)) #inclusive #inclusive

4

## Import with Alias
This capability came in handy for me when I needed a module  
to be a specific name for my code to work

In [ ]:
def randint():
    return 52
    
from random import randint as r
    
print(randint(), r(0, 100))

52 1

## Generators and Yield

In [ ]:
def fib(count):
    a, b = 0, 1
    while count:
        yield a
        a, b, = b, b + a
        count -= 1


gen = fib(100)
print(next(gen), next(gen), next(gen), next(gen), next(gen))

for i in fib(20):
    print(i, end=" ")

0 1 1 2 3
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

## infinite number

In [ ]:
import math
#inf = (float('inf')) #other way without math.
print(math.inf)

inf = math.inf
print(inf, inf-1) #always infinity

inf
inf inf

## Infinite generator
You could make an infinite loop with a yield or use float('inf')) as the counter for more versatility  
(You can use a smaller number if you desire a certain number of elements)  
Bounded generator was used in documentation - https://wiki.python.org/moin/Generators  
This stopping point allows you to do things like get the sum.

In [ ]:
import math

def fib(count):
    a, b = 0, 1
    while count:
        yield a
        a, b, = b, b + a
        count -= 1

f = fib(math.inf)
for i in f:
    if i >= 200: break
    print(i, end=" ")
    i += 1

0 1 1 2 3 5 8 13 21 34 55 89 144

## list from generator

In [ ]:
import math

def fib(count):
    a, b = 0, 1
    while count:
        yield a
        a, b, = b, b + a
        count -= 1
        
f = fib(10)
data = [round(math.sqrt(i), 3) for i in f]
print(data)

[0.0, 1.0, 1.0, 1.414, 1.732, 2.236, 2.828, 3.606, 4.583, 5.831]

## itertools for simple infinite generator
The generator function could be simpler without having to take a max count property  
This can be done easily with itertools.

In [ ]:
import itertools

def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b, = b, b + a
        
print(list(itertools.islice(fib(), 20)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

## Iterate through custom type with __iter__

In [ ]:
class Node:
    def __init__(self, data, next_node=None):
        self.data = data
        self.next = next_node

class LinkedList:

    def __init__(self, start):
        self.start = start
    
    def __iter__(self):
        node = self.start
        while node:
            yield node
            node = node.next
            
ll = LinkedList(Node(5, Node(10, Node(15, Node(20)))))
for node in ll:
    print(node.data)

5
10
15
20

## Falsey for custom types (not)

In [ ]:
print(not []) #true because it's empty
print(len([]) == 0) #This is how not is evaluated

def __len__(self):
        count = 0
        for i in self:
            count += 1
        return count
    

LinkedList.__len__ = __len__
            
    
ll = LinkedList(Node(5, Node(10, Node(15, Node(20)))))
print(len(ll))
ll = LinkedList(None)
print(not ll)

True
True
4
True

## Combine two lists as a list of lists.

In [ ]:
names = ['Caleb', 'Corey', 'Chris', 'Samantha']
points = [100, 250, 30, 600]

zipped = list(zip(names, points))

print(zipped)

[('Caleb', 100), ('Corey', 250), ('Chris', 30), ('Samantha', 600)]

## Convert list of tuples to list of lists

In [ ]:
names = ['Caleb', 'Corey', 'Chris', 'Samantha']
points = [100, 250, 30, 600]

zipped = list(zip(names, points))

data = [list(item) for item in zipped]
print(data)

[['Caleb', 100], ['Corey', 250], ['Chris', 30], ['Samantha', 600]]

## Preserving all data when zipping with zip_longest

In [ ]:
names = ['Caleb', 'Corey', 'Chris', 'Samantha', "Hannah", "Kelly"]
points = [100, 250, 30, 600]
zipped = list(zip(names, points))
print(zipped)

from itertools import zip_longest
names = ['Caleb', 'Corey', 'Chris', 'Samantha', "Hannah", "Kelly"]
points = [100, 250, 30, 600]

zipped = list(zip_longest(names, points))

print(zipped)

[('Caleb', 100), ('Corey', 250), ('Chris', 30), ('Samantha', 600)]
[('Caleb', 100), ('Corey', 250), ('Chris', 30), ('Samantha', 600), ('Hannah', None), ('Kelly', None)]

## Default Arguments

In [ ]:
from itertools import zip_longest


def zip_lists(list1=[], list2=[], longest=True):
    if longest:
        return [list(item) for item in zip_longest(list1, list2)]
    else:
        return [list(item) for item in zip(list1, list2)]
    
names = ['Caleb', 'Corey', 'Chris', 'Samantha', "Hannah", "Kelly"]
points = [100, 250, 30, 600]

print(zip_lists(names, points))

[['Caleb', 100], ['Corey', 250], ['Chris', 30], ['Samantha', 600], ['Hannah', None], ['Kelly', None]]

## Keyword Arguments

When you have default values, you can pass arugments by name
positional arguments must remain on the left
You can pass named arguments in any order and can skip them even.

In [ ]:
from itertools import zip_longest


def zip_lists(list1=[], list2=[], longest=True):
    if longest:
        return [list(item) for item in zip_longest(list1, list2)]
    else:
        return [list(item) for item in zip(list1, list2)]


print(zip_lists(longest=True, list2=['Caleb']))

[[None, 'Caleb']]

## Get the Python version

In [ ]:
from platform import python_version

print(python_version())

3.8.16

In [ ]:
import sys
sys.version

'3.8.16 (default, Dec  7 2022, 01:12:13) \n[GCC 7.5.0]'

#Usage of '_' underscore

In [ ]:
a, b = (1, 2) 
print(a)
print(b)
a, _ = (10, 20) # underscore helps in ignoring unused values to get stored in a variable
print(a)

1
2
10

In [ ]:
a, b, *c = (1, 2, 3, 4, 5)
print(a, b, c)

# a, b, c = (1, 2, 3, 4, 5) is an error
a, b, *_ = (1, 2, 3, 4, 5) # to ignore the remaining
print(a, b)
a, b, *c, d = (1, 2, 3, 4, 5, 6, 7) 
# here d stores only the last value, a stores 1st value, 
# b stores 2nd value, the rest are stored in c as it packs the value
# into a list
print(a, b, c, d)
a, b, *c, d, e = (1, 2, 3, 4, 5, 6, 7) # here 'e' stores last value, 'd' stores last but one value 
print(a, b, c, d, e)

1 2 [3, 4, 5]
1 2
1 2 [3, 4, 5, 6] 7
1 2 [3, 4, 5] 6 7

#usage of *setattr()* function

In [ ]:
class Person(object):
  pass
person = Person()
first_key = 'first'
first_value = 'corey'

setattr(person, first_key, first_value) # setattr(object, attribute, value)
print(person.first)

corey

#usage of getattr() function

In [ ]:
first = getattr(person, first_key) # getattr(object, attribute)
print(first)

corey

In [ ]:
class Person(object):
  pass
person = Person()
person_info = {
    'first' : 'Corey',
    'last' : 'schafer'
}
for key, value in person_info.items():
  setattr(person, key, value)
# print(person.first)
# print(person.last) 
# or
for key in person_info:
  print(getattr(person, key))

Corey
schafer

#password

In [ ]:
from getpass import getpass
username = input("Username : ")
password = getpass("Password : ")
print("Logging in .......")

Username : BALAJI GANESH
Password : Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Logging in .......

#find the most frequent item in a list

In [ ]:
l = [1, 2, 3, 4, 5, 5, 6, 7, 8]
print(max(set(l), key=l.count))

5

# Counter function

In [ ]:
from collections import Counter
my_list = [10, 10, 5, 2, 9, 9, 9]
counter = Counter(my_list)
print(counter)

Counter({9: 3, 10: 2, 5: 1, 2: 1})

# for documentation

In [ ]:
help(str)

#for implemented methods and functions

In [ ]:
dir(str)

## module string

In [1]:
import string

In [3]:
string.ascii_uppercase # returns all the alphabets in uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
string.ascii_lowercase # returns all the alphabets in lowercase

'abcdefghijklmnopqrstuvwxyz'

In [6]:
string.digits # returns all the digits in a string

'0123456789'

In [8]:
string.punctuation # returns all the punctuations in a string

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
string.ascii_letters # returns all the alphabets

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [10]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [11]:
string.hexdigits

'0123456789abcdefABCDEF'

In [12]:
string.octdigits

'01234567'